# NOTE: Requires **VS2019 16.3** or later

# Rules for Main Projects
# Description: Code analysis rules for projects which have been released or are about to be.

# Code files
[*.{cs,vb}]


# Default severity for analyzer diagnostics - Requires **VS2019 16.5** or later
dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.CA1309.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1716.severity = none

dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_diagnostic.IDE0009.severity = suggestion
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0065.severity = suggestion
dotnet_diagnostic.IDE0072.severity = none

dotnet_diagnostic.MA0003.severity = none
dotnet_diagnostic.MA0007.severity = none
dotnet_diagnostic.MA0025.severity = none
dotnet_diagnostic.MA0026.severity = none
dotnet_diagnostic.MA0046.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0051.severity = none

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1407.severity = silent
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1507.severity = suggestion
dotnet_diagnostic.SA1515.severity = suggestion
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none
