# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# Code files
[*.{cs,vb}]

dotnet_diagnostic.RCS1124.severity = none
dotnet_diagnostic.RCS1181.severity = none
dotnet_diagnostic.RCS1189.severity = none
dotnet_diagnostic.S1135.severity = none
dotnet_diagnostic.S125.severity = none
dotnet_diagnostic.S2344.severity = none
dotnet_diagnostic.S5542.severity = none
