<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WallE" Description="Custom Rules for Wiki-Related Code" ToolsVersion="15.0">
  <Include Path="..\main.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1726" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1305" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA5350" Action="None" />
    <Rule Id="CA5351" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1408" Action="None" />
  </Rules>
</RuleSet>