# NOTE: Requires **VS2019 16.3** or later

# HoodBot Custom Rules
# Description: Code analysis rules for projects which have been released or are about to be.

# Code files
[*.{cs,vb}]

dotnet_diagnostic.MA0076.severity = none