<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="HoodBot Custom Rules" Description="Code analysis rules for projects which have been released or are about to be." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1057" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8020" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Info" />
    <Rule Id="IDE0002" Action="Info" />
    <Rule Id="IDE0003" Action="Info" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0007" Action="Info" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0008" Action="Info" />
    <Rule Id="IDE0008WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0009" Action="Info" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0011" Action="Info" />
    <Rule Id="IDE0011WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0012" Action="Info" />
    <Rule Id="IDE0013" Action="Info" />
    <Rule Id="IDE0014" Action="Info" />
    <Rule Id="IDE0015" Action="Info" />
    <Rule Id="IDE0016" Action="Info" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0017WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0018" Action="Info" />
    <Rule Id="IDE0018WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0019" Action="Info" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0020" Action="Info" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0021" Action="Info" />
    <Rule Id="IDE0021WithoutSuggestion" Action="None" />
    <Rule Id="IDE0022" Action="Info" />
    <Rule Id="IDE0022WithoutSuggestion" Action="None" />
    <Rule Id="IDE0023" Action="Info" />
    <Rule Id="IDE0023WithoutSuggestion" Action="None" />
    <Rule Id="IDE0024" Action="Info" />
    <Rule Id="IDE0024WithoutSuggestion" Action="None" />
    <Rule Id="IDE0025" Action="Info" />
    <Rule Id="IDE0025WithoutSuggestion" Action="None" />
    <Rule Id="IDE0026" Action="Info" />
    <Rule Id="IDE0026WithoutSuggestion" Action="None" />
    <Rule Id="IDE0027" Action="Info" />
    <Rule Id="IDE0027WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="Info" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0029" Action="Info" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0030" Action="Info" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0031" Action="Info" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0034" Action="Info" />
    <Rule Id="IDE0034WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0036" Action="Info" />
    <Rule Id="IDE0036WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0037" Action="Info" />
    <Rule Id="IDE0037WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0039" Action="Info" />
    <Rule Id="IDE0039WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0040" Action="Info" />
    <Rule Id="IDE0040WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0041" Action="Info" />
    <Rule Id="IDE0041WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0042" Action="Info" />
    <Rule Id="IDE0042WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0043" Action="Info" />
    <Rule Id="IDE0044" Action="Info" />
    <Rule Id="IDE0044WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE1005" Action="Info" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Info" />
    <Rule Id="IDE1006" Action="Info" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0033" Action="Info" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1217" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>